<form action="/tweets" method="post">
  <div class="new-tweet">
    <div class="new-tweet-label">
      <label for="">Make a Fweet:</label>
    </div>
      <textarea rows="4" cols="50" id="content" name="content"></textarea>
      <div class="tweet-button">
        <input id="submit" type="submit" value="Fweet!">
      </div>
    </div>
</form>
