<form action="/tweets" method="post">
  <label for="content">Make a Fweet:</label>
    <textarea rows="4" cols="50" id="content" name="content"></textarea>
  <input id="submit" type="submit" value="Fweet!">
</form>
