<h2>Sign Up Below:</h2>

<form method="post" action="/signup">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" value="username" placeholder="username"><br>

  <label for="email">Email Address:</label>
  <input type="text" name="email" id="email" value="email" placeholder="email"><br>

  <label for="password">Password:</label>
  <input type="text" name="password" id="password" value="password" placeholder="password"<br>

  <input type="submit" value="Sign Up">
</form>
