<h3>Current Fweets</h3>
<% @current_user.tweets.each do |t| %>
<div class="tweet_shell">
  <a id="tweet" href="/tweets/<%=t.id%>">
    <div class="tweet_bubble">
      <span class="you-say">&:</span> <%=t.content%>
    </div>
  </a>
</div>
<% end %>
